<div class="row">
    <h1>Create Posts</h1>
    <form action="/admin/generate-fake-posts" method="post">
       
       <div class="form-group">
           <h1>Generate Posts</h1>
           <input name="amount" type="text" class="form-control" />
       </div>

       <button type="submit">Generate</button>
    </form>
</div>